@charset "utf-8";
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    color: #555;
    font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif
}

h1 {
    font-size: 55px
}

h2 {
    font-size: 40px
}

h3 {
    font-size: 32px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 22px
}

h6 {
    font-size: 20px
}

p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px
}

a {
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -ms-transition-duration: .5s;
    text-decoration: none;
    color: #38ccff
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #03aee9
}

ul,
ol {
    margin: 0 auto 20px
}

ul li,
ol li {
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto 10px
}

ul li i,
ol li i {
    margin: 0 12px 0 0
}

ul.list_style_none,
ol.list_style_none {
    list-style: none
}

ul.list-with-icon {
    padding-left: 10px;
    margin-bottom: 30px
}

ul.list-with-icon li {
    line-height: 20px;
    margin-bottom: 15px;
    padding-left: 23px;
    position: relative;
    list-style: none
}

ul.list-with-icon li i {
    left: 0;
    position: absolute;
    top: 4px
}

blockquote {
    background: #f5f5f5
}

img {
    max-width: 100%
}

.white-text,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text p {
    color: #fff
}







#intro_map {
    min-height: 600px;
    padding-bottom: 0;
    position: relative
}

#intro_map .search_form {
    background: #fff none repeat scroll 0 0;
    bottom: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    margin: 0 auto;
    max-width: inherit;
    padding: 30px;
    position: absolute;
    right: 0;
    width: 1170px;
    z-index: 999
}

#about_info {
    background-image: url(../images/about_bg.jpg);
    background-position: center;
    background-size: cover
}

.white_box {
    background: #fff;
    padding: 40px 35px
}

#about_info h3 {
    margin-top: 0
}

#popular_listing_slider .listing_wrap {
    border-radius: 3px;
    border: 1px solid #dedede;
    overflow: hidden;
    margin: 0 auto 20px;
    position: relative
}

.listing_info {
    padding: 20px 20px 0
}

.listing_info a {
    color: #111
}

.listing_info a:hover {
    color: #38ccff
}

.listing_info p {
    color: #a5a5a5;
    font-size: 15px;
    line-height: 25px
}

.listing_info .listing_review_info p {
    color: #b5b5b5;
    font-size: 13px;
    margin: 0 auto;
    float: left
}

.review_score {
    background: #38ccff none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    margin-right: 4px;
    padding: 4px 10px
}

.listing_review_info .active,
.fa-star.active {
    color: #ffc600
}

.listing_review_info {
    background: #f6f6f6 none repeat scroll 0 0;
    margin: 24px -20px 0;
    overflow: hidden;
    padding: 16px 20px
}

.like_post {
    position: absolute;
    top: 15px;
    right: 15px
}

.listing_img {
    position: relative;
    overflow: hidden
}

.listing_img:before {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.6) 70%) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transition: all .35s ease 0;
    -moz-transition: all .35s ease 0;
    -o-transition: all .35s ease 0;
    -webkit-transition: all .35s ease 0;
    -ms-transition: all .35s ease 0;
    width: 100%;
    z-index: 1
}

.listing_wrap:hover .listing_img:before {
    opacity: 1;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%)
}

.like_post {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: #fff;
    height: 40px;
    font-size: 18px;
    line-height: 38px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 40px;
    z-index: 1;
    cursor: pointer
}

.like_post:hover {
    background: #38ccff
}

.listing_info .listing_review_info .listing_map_m {
    float: right;
    color: #555
}

.listing_cate {
    position: absolute;
    right: 68px;
    top: 15px;
    z-index: 1
}

.featured_label {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #38ccff;
    color: #fff;
    font-weight: 700;
    padding: 3px 12px;
    border-radius: 3px;
    z-index: 1
}

.listing_cate span {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 9px;
    text-align: center;
    width: 40px;
    position: relative
}

.listing_cate span.listing_like {
    background: #38ccff none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    margin-left: -10px
}

.listing_cate span.listing_like a {
    color: #fff
}

.cate_icon {
    position: relative;
    z-index: 1
}

#testimonials {
    background-image: url(../images/testimonial_bg.jpg);
    position: relative
}

#testimonial_slider .item {
    background: #fff;
    padding: 35px;
    margin: 0 auto;
    max-width: 930px;
    border-radius: 3px
}

.testimonial_header p {
    color: #909090;
    font-size: 14px
}

#testimonial_slider .owl-nav {
    display: none
}

.post_wrap {
    border: #dedede solid 1px;
    margin: 0 0 30px;
    border-radius: 3px;
    overflow: hidden
}

.post_img {
    position: relative
}

.post_category a {
    color: #38ccff;
    border: #38ccff solid 2px;
    border-radius: 3px;
    letter-spacing: 1px;
    color: #38ccff!important;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 8px
}

.post_category a:hover {
    background: #38ccff;
    color: #fff!important
}

.post_info {
    padding: 20px 20px 0
}

.post_info h5,
.post_info a {
    color: #111
}

.post_info a:hover {
    color: #38ccff
}

.post_meta {
    background: #f6f6f6 none repeat scroll 0 0;
    margin: 0 -20px;
    overflow: hidden;
    padding: 16px 20px
}

.post_info .post_meta p {
    margin: 0 20px 0 0;
    float: left;
    font-size: 14px
}

.post_info p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto 20px
}

.footer_widgets {
    margin: 70px 0
}

.footer_widgets h5 {
    color: #fff;
    margin: 0 auto 24px
}

.footer_bottom {
    text-align: center;
    padding: 25px 0;
    border-top: #232323 solid 1px
}

.footer_bottom p {
    margin: 0 auto
}

.follow_us ul,
.footer_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden
}

.follow_us ul li {
    display: inline-block;
    margin: 0 auto
}

.follow_us ul li a {
    display: block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    color: #fff;
    border: rgba(255, 255, 255, 0.3) solid 2px;
    font-size: 20px;
    margin: 0 5px 0 0
}

.follow_us ul li a .fa {
    margin: 0 auto
}

.follow_us ul li a:hover {
    background: #38ccff
}

.footer_nav ul li {
    float: left;
    width: 50%;
    margin: 0 auto
}

.footer_nav ul li a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding-left: 20px;
    position: relative
}

.footer_nav ul li a:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f105";
    font-family: fontawesome
}

.footer_nav ul li a:hover {
    color: #38ccff
}

.newsletter_wrap {
    position: relative
}

.newsletter_wrap .btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0
}

.newsletter_wrap input[type="email"] {
    padding-right: 150px
}

.newsletter_wrap input[type="email"]:focus {
    border: 0;
    outline: 0
}

#category_slider2 .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    height: 358px;
    overflow: hidden;
    text-align: center;
    position: relative
}

#category_slider2 .item:after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

#category_slider2 .item a {
    position: relative;
    z-index: 1;
    padding: 75px 10px;
    display: block
}

#category_slider2 .category_icon {
    border-radius: 50%;
    height: 142px;
    padding: 39px;
    position: relative;
    width: 142px;
    margin: 0 auto 35px;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s
}

#category_slider2 .item:hover .category_icon {
    margin-bottom: 15px;
    margin-top: 15px
}

#category_slider2 .category_icon img {
    margin: 0 auto
}

.category_listing_n {
    background: #38ccff none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 45px;
    left: 50%;
    line-height: 43px;
    position: absolute;
    text-align: center;
    top: -100px;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 45px;
    opacity: 0
}

#category_slider2 .item:hover .category_listing_n {
    opacity: 1;
    top: -15px
}

#category_slider2 .item p {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin: 0 auto
}

#how_it_work {
    background-image: url(../images/how_it_work_bg2.jpg)
}

.steps_wrap {
    background: #fff;
    padding: 30px 15px 32px 110px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    margin: 0 auto 15px
}

.icon_div {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 90px;
    text-align: center;
    color: #38ccff;
    font-size: 70px
}

.steps_wrap h5 {
    font-weight: 600
}

.steps_wrap p {
    font-size: 15px;
    line-height: 24px;
    margin: 0 auto 5px
}

#pricing_table {
    background-image: url(../images/pricing_bg.jpg)
}

.footer_2 .footer_bottom {
    text-align: left
}

.footer_2 .follow_us {
    text-align: right
}

.footer_2 .footer_bottom p {
    margin: 10px auto
}

.footer_2 .footer_widgets {
    margin: 50px auto;
    text-align: center;
    clear: both
}

.footer_2 .newsletter_wrap {
    max-width: 425px;
    margin: 0 auto
}

.footer_2 .footer_nav {
    display: inline-block;
    background: #0c0c0c;
    padding: 10px 30px;
    border-radius: 3px
}

.footer_2 .footer_nav ul li {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding: 0 13px;
    position: relative;
    width: auto
}

.footer_2 .footer_nav ul li:after {
    position: absolute;
    top: 0;
    right: -15px;
    content: "-";
    opacity: .7
}

.footer_2 .footer_nav ul li a {
    opacity: .7
}

.footer_2 .footer_nav ul li a:hover {
    opacity: 1
}

.footer_2 .footer_nav ul li a:after {
    display: none
}

.footer_2 h5 {
    font-size: 24px
}

#inner_pages {
    padding: 70px 0
}

#inner_banner {
    background-image: url(../images/banner.jpg);
    padding: 180px 0 120px
}

#inner_banner h1 {
    font-size: 46px
}

#login_signup {
    height: 100vh;
    display: table;
    text-align: center;
    margin: 0 auto
}

.form_wrap_m {
    width: 400px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle
}

.form_wrap_m .white_box {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
    margin: 30px auto
}

#login_signup p {
    margin: 0 auto
}

#login_signup form {
    margin: 30px auto 0
}

.back_home {
    padding: 15px 0
}

.back_home .btn {
    background: none;
    font-weight: 700;
    color: #111;
    border-color: #111
}

.back_home .btn:hover {
    color: #fff;
    background: #111
}

.pricing_wrap {
    background: #eff0f0;
    padding: 30px;
    margin: 0 auto 30px;
    text-align: center;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -ms-transition-duration: .3s
}

.pricing_header {
    margin: 0 auto 25px;
    position: relative
}

.pricing_header h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 36px
}

.plan_info {
    background: #fff;
    padding: 30px 30px 50px;
    border-radius: 3px
}

.plan_price {
    font-size: 48px;
    color: #111;
    font-weight: 700;
    margin: 0 auto 18px;
    color: #38ccff
}

.plan_info ul {
    margin: 0 auto 35px;
    padding: 0;
    list-style: none
}

.plan_info ul li span {
    font-weight: 700;
    color: #111
}

.popular_plan {
    background: #f26802 none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    left: 30%;
    margin: 0 auto;
    position: absolute;
    right: 30%;
    text-transform: uppercase;
    top: -44px
}

.not_found_msg {
    background: #f2f4f4 none repeat scroll 0 0;
    border-left: 8px solid #e5e5e5;
    border-radius: 10px;
    border-right: 8px solid #e5e5e5;
    margin: 0 auto;
    max-width: 750px;
    padding: 50px
}

.not_found_msg .error_msg_div h2 span {
    color: #111;
    font-size: 200px;
    display: block;
    line-height: 170px;
    font-weight: 700;
    margin: 0 auto
}

.error_msg_div h2 {
    margin: 0 auto 20px
}

.aboutus_bg {
    background-image: url(../images/aboutus_bg.jpg)!important
}

.box_wrap {
    border: #dedede solid 1px;
    border-radius: 3px;
    padding: 30px 20px;
    text-align: center;
    margin: 40px auto
}

.box_wrap .fa {
    font-size: 40px;
    color: #111;
    margin: 10px auto
}

.box_wrap h4 {
    font-weight: 400
}

.box_wrap p {
    font-size: 15px;
    line-height: 26px;
    margin: 0 auto 10px
}

.fan_facts {
    padding: 40px;
    overflow: hidden;
    margin: 0 auto 40px
}

.facts_info {
    float: left;
    width: 25%;
    margin: 0 auto 20px;
    text-align: center
}

.facts_info p {
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto
}

.facts_info p span {
    display: block;
    color: #111;
    font-size: 70px;
    line-height: 70px
}

.our_prtners {
    margin: 30px auto
}

.partner_logo {
    float: left;
    width: 25%;
    padding: 15px
}

.contactus_bg {
    background-image: url(../images/contactus_bg.jpg)!important
}

.office_info_box {
    background: #f2f4f4;
    text-align: center;
    border-left: 8px solid #ddd;
    border-radius: 4px;
    padding: 30px;
    margin: 0 auto 30px
}

.info_icon {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 30px;
    height: 70px;
    line-height: 64px;
    margin: 0 auto 20px;
    width: 70px
}

.office_info_box a {
    color: #555
}

.office_info_box a:hover {
    color: #38ccff
}

.contact_form,
.map_wrap {
    margin-top: 40px
}

.map_wrap iframe {
    width: 100%;
    height: 400px
}

.contact_form h4 {
    margin: 0 auto 30px
}

.how_it_work_info {
    padding: 30px 30px 30px 100px;
    position: relative
}

.step_n {
    font-size: 80px;
    font-weight: 900;
    left: 0;
    letter-spacing: -6px;
    opacity: .2;
    position: absolute;
    top: 30px
}

.how_it_work_img {
    margin: 0 auto 50px
}

.sub_heading {
    text-align: center;
    padding: 40px;
    border: #eee solid 1px
}

.sub_heading p {
    font-size: 28px;
    line-height: 33px;
    margin: 0 auto 30px
}

#listing_banner {
    padding: 160px 0 70px;
    background-image: url(../images/banner.jpg)
}

#listing_banner h1 {
    font-weight: 300
}

#listing_banner .search_form {
    display: table;
    float: left;
    margin: 0;
    width: 100%;
    max-width: inherit
}

.search_form .form-control,
.search_form form textarea,
.search_form form select {
    font-size: 16px;
    height: 60px;
    padding: 0 20px
}

.search_form .form-control:focus,
.search_form form textarea:focus,
.search_form form select:focus {
    outline: none
}

#listing_banner .form-group {
    float: left;
    width: 40%;
    padding: 0 .5%;
    margin: 0 auto
}

.btn_group {
    float: left;
    width: 20%;
    padding-left: .5%
}

.listing_wrap {
    border: 1px solid #dedede;
    border-radius: 3px;
    margin: 0 auto 40px;
    overflow: hidden;
    position: relative
}

.listing_header {
    margin: 0 auto 30px;
    padding: 10px 0;
    border-top: #eee solid 1px;
    border-bottom: #eee solid 1px;
    display: table;
    width: 100%
}

.listing_header h5 {
    font-weight: 400;
    float: left
}

.layout-switcher {
    float: right
}

.layout-switcher a {
    background-color: #eee;
    border-radius: 50%;
    color: #9d9d9d;
    display: inline-block;
    font-size: 14px;
    height: 39px;
    line-height: 40px;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all .4s ease 0;
    width: 39px
}

.layout-switcher a.active,
.layout-switcher a:hover {
    color: #fff;
    background: #38ccff
}

.listview .listing_img {
    float: left;
    width: 30%
}

.listview .listing_info {
    float: right;
    padding: 39px 40px 0;
    width: 70%
}

.listview .listing_review_info {
    margin: 24px -40px 0;
    padding: 16px 40px
}

.listview_sidebar .listing_img {
    float: left;
    width: 42%
}

.listview_sidebar .listing_info {
    float: right;
    width: 58%
}

.ads_col {
    float: left;
    margin-right: 1%;
    width: 49%
}

.ads_col:nth-child(2n) {
    margin-left: 1%;
    margin-right: 0;
    text-align: right
}

.pagination_nav {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    text-align: center
}

.pagination,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: #38ccff;
    color: #fff
}

.pagination > li > a,
.pagination > li > span {
    color: #111;
    border: 0;
    font-size: 18px;
    padding: 6px 15px
}

.single_post h1 {
    font-size: 40px;
    margin-top: 0
}

.single_post .entry_meta {
    margin-bottom: 30px
}

.sidebar_widgets {
    margin: 0 auto 30px 10px
}

.sidebar .sidebar_widgets {
    margin: 0 auto 50px 10px
}

.widget_title {
    position: relative;
    margin: 0 auto 30px;
    padding-bottom: 10px;
    text-transform: uppercase
}

.widget_title::after {
    background-color: #38ccff;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: all .5s ease 0;
    width: 50px
}

.article_wrap {
    overflow: hidden;
    margin: 0 auto 50px
}

.post-thumbnail {
    overflow: hidden;
    border-radius: 3px;
    margin: 0 auto 20px
}

.post-thumbnail a {
    display: block
}

.entry-desc h3 {
    font-size: 28px
}

.entry-desc h3 a,
.info_m h6 a {
    color: #111
}

.entry_meta {
    overflow: hidden;
    margin: 20px auto 10px
}

.entry_meta .meta_m {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px 0 0
}

.meta_m .fa,
.meta_m a:hover,
.sidebar_widgets ul li a:hover,
.entry-desc h3 a:hover,
.info_m h6 a:hover {
    color: #38ccff
}

.meta_m a {
    color: #555
}

.entry-content p {
    font-size: 15px;
    line-height: 24px
}

.read_btn {
    font-weight: 700;
    font-size: 16px
}

.sidebar_widgets ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.sidebar_widgets > ul > li::after {
    content: "\f105";
    font-family: fontawesome;
    left: 25px;
    position: absolute;
    top: 15px
}

.sidebar_widgets > ul > li {
    border: 1px solid #e8e8e8;
    list-style: outside none none;
    margin: 0 0 -1px;
    padding: 15px 20px 15px 40px;
    position: relative
}

.sidebar_widgets ul li a {
    color: #555
}

.featured_posts {
    margin: 0 auto 10px;
    overflow: hidden
}

.thubb_img {
    float: left;
    width: 100px
}

.info_m {
    float: right;
    width: calc(100% - 120px)
}

.info_m h6 {
    font-size: 19px;
    margin: 0 0 5px
}

.info_m p {
    font-size: 13px
}

.article_wrap:nth-child(2n+1) {
    clear: left
}

.post_tag {
    overflow: hidden;
    margin: 40px auto 20px
}

.post_tag span {
    float: left;
    padding: 6px 0;
    margin-right: 5px
}

.post_tag a {
    display: block;
    float: left;
    background: #333;
    color: #fff;
    padding: 6px 15px;
    border-radius: 3px;
    margin: 0 5px 5px 0
}

.post_tag a:hover {
    background: #38ccff;
    color: #fff
}

.share_post {
    overflow: hidden;
    margin: 0 auto 10px
}

.share_post a {
    color: #fff;
    float: left;
    display: block;
    width: 24%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-right: 1%;
    border-radius: 3px;
    padding: 10px
}

.share_post a:hover {
    color: #fff
}

.share_post a:last-child {
    margin: 0 auto
}

.share_post .facebook {
    background: #3b5a9a
}

.share_post .linkedin {
    background: #007bb6
}

.share_post .twitter {
    background: #19b5ee
}

.share_post .g_plus {
    background: #dc4a38
}

.articale_comments {
    border-bottom: 1px solid #cecece;
    clear: both
}

.comment-respond {
    margin: 60px auto 0
}

.commentlist {
    padding: 0
}

.commentlist li {
    list-style: outside none none;
    margin: 0 auto
}

.commentlist .comment-content li {
    list-style: inherit
}

.commentlist li .comment-body {
    border-top: 1px solid #cecece;
    padding: 30px 0
}

.comment-metadata > a {
    font-size: 14px;
    color: #aaa
}

.comment-author img {
    float: left
}

.commentlist li img.avatar {
    border: medium none;
    border-radius: 50%;
    float: left;
    height: 84px;
    margin-bottom: 30px;
    margin-right: 25px;
    position: relative;
    width: 84px
}

.comment-content,
.commentlist .reply {
    margin-left: 110px
}

.commentlist .reply .fa {
    margin-right: 4px
}

.comment-meta.commentmetadata {
    margin-bottom: 8px
}

.comment-meta.commentmetadata,
.comment-meta.commentmetadata a {
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400
}

.comment-meta.commentmetadata a:hover {
    color: #38ccff
}

.comment-author .fn {
    color: #111;
    font-size: 18px;
    font-weight: 900
}

.comment ul.children {
    padding-left: 110px
}

.comment-form {
    margin: 40px 0
}

.listing-with-map-page #header nav > .container {
    max-width: inherit;
    padding: 0 30px;
    width: 100%
}

#listinghub_with_map {
    padding-bottom: 50px;
    padding-right: 40%;
    position: relative;
    z-index: 2
}

#listinghub_with_map .container,
.listing-with-map-page #footer .container {
    width: auto;
    padding: 0 30px
}

.listinghub_map {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    z-index: 1
}

.listing-with-map-page #footer {
    background: #eee none repeat scroll 0 0!important;
    padding-right: 40%
}

.listing-with-map-page .footer_bottom p {
    color: #555
}

.listing-with-map-page .footer_bottom {
    border-top: 0 none
}

.listing-with-map-page .navbar.navbar-default {
    background: #111;
    border: 0
}

.listing-with-map-page .navbar.navbar-default.navbar-fixed-top.affix-top {
    position: relative
}

.listing-with-map-page .listing_header {
    margin: 30px auto
}

.listing-with-map-page .grid_view .listing_review_info p {
    float: none;
    margin: 5px auto;
    font-size: 13px
}

.listing-with-map-page .listing_wrap {
    margin: 0 auto 30px
}

.listing-with-map-page .listing_info .listing_review_info p {
    font-size: 13px
}

.listing-with-map-page .grid_view .listing_review_info p:last-child {
    margin-top: 12px
}

.listing-with-map-page .listing_review_info {
    margin: 18px -20px 0;
    padding: 10px 20px
}

.listing-with-map-page .listing_info h4 {
    font-size: 21px
}

.listing-with-map-page .listing_info {
    padding: 18px 17px 0
}

.listing-with-map-page .grid_view .listing_wrap {
    margin: 0 auto 30px
}

.listing-with-map-page .listing_info p {
    font-size: 14px;
    line-height: 20px
}

.listing-with-map-page .post_category a {
    font-size: 12px;
    font-weight: 700
}

.search_wrap {
    padding: 30px;
    background: #eee;
    display: table;
    width: 100%
}

.search_wrap .search_form {
    margin: 0 auto
}

.search_wrap .form-control,
.search_wrap form textarea,
.search_wrap form select {
    background: #fff none repeat scroll 0 0;
    padding: 0 10px;
    font-size: 15px
}

.search_wrap .form-group {
    float: left;
    margin: 0 auto;
    padding: 0 .5%;
    width: 40%
}

.search_wrap .btn_group {
    float: left;
    padding-left: .5%;
    width: 20%
}

.grid_col.show_listing:nth-child(2n+1) {
    clear: left
}

.grid_view.show_listing:nth-child(3n+1) {
    clear: left
}

.map-marker-container {
    position: absolute;
    margin-top: 10px;
    transform: translate3d(-50%, -100%, 0)
}

.marker-container {
    position: relative;
    margin: 10px auto;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 8px;
    cursor: pointer;
    top: -5px
}

#singleListingMap .marker-container {
    cursor: default
}

.marker-container {
    perspective: 1000px
}

.marker-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    position: absolute;
    z-index: 1
}

.face.front {
    animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: bounce;
    background: #fff none repeat scroll 0 0;
    border-radius: 50% 50% 50% 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: #333 solid 2px;
    height: 50px;
    left: 50%;
    margin: -42px 0 0 -30px;
    padding: 17px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 50px
}

.marker-card .front.face .im-icon {
    display: none
}

.marker-container:hover .face.front,
.clicked .marker-container .face.front {
    border-color: #38ccff;
    border-width: 6px
}

.marker-cluster-count {
    background-color: #66676b;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px
}

.marker-cluster-count::before {
    animation: 2.5s ease 0 normal none infinite running cluster-animation;
    border: 7px solid #66676b;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #66676b inset;
    content: "";
    height: 100%;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%
}

@keyframes cluster-animation {
    0%,
    100% {
        transform: scale(1.3) rotate(0deg)
    }
    50% {
        transform: scale(1.5) rotate(90deg)
    }
}

#map-container {
    height: 100%;
    left: 0;
    margin-bottom: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99
}

#map {
    height: 100%;
    margin: 0;
    width: 100%;
    z-index: 99
}

.infoBox {
    border-radius: 4px
}

.map-box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.53);
    margin-bottom: 20px;
    position: relative
}

.map-box .map-post-thumb-m img {
    max-width: 100%
}

.map-post-thumb-m {
    position: relative;
    height: 100%;
    display: block
}

.map-box p {
    padding: 0;
    line-height: 25px;
    margin: 2px 0 0;
    font-size: 14px
}

.map-box ul.listing-details {
    padding: 0;
    font-size: 14px;
    display: none
}

.map-box .listing-title {
    padding: 16px 22px
}

.map-box .listing-img-content {
    padding: 18px 22px
}

.map-box .listing-img-content span {
    font-size: 21px
}

.map-box .listing-img-content .listing-price i {
    font-size: 15px;
    margin: -7px 0 0
}

.infoBox > img {
    position: absolute!important;
    right: 0;
    top: 0
}

.map-box .map-post-des-m {
    padding: 13px 20px
}

.map-box .map-post-des-m h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0
}

.map-box .map-post-des-m span {
    font-size: 15px;
    font-weight: 300;
    display: inline-block
}

.map-popup-close {
    -webkit-text-stroke: 1px #fff;
    background-color: #fff;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 15px;
    font-weight: 500;
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: -11px;
    text-align: center;
    top: -11px;
    width: 28px;
    z-index: 999
}

.map-popup-close:hover {
    color: #fff;
    background-color: #66676b;
    -webkit-text-stroke: 1px #66676b
}

.map-box-icon {
    height: 38px;
    width: 38px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3685cf;
    display: block;
    color: #fff;
    font-size: 12px;
    z-index: 101;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden
}

.map-box-icon:before {
    content: "\f064";
    font-family: "FontAwesome";
    position: relative;
    top: 7px;
    display: block
}

.map-box-image:hover .map-box-icon {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateX(0)
}

.map-box-image {
    position: relative;
    overflow: hidden;
    display: block
}

.infoBox {
    -webkit-animation: fadeIn .9s;
    animation: fadeIn .9s
}

#singlemap {
    border-radius: 3px;
    height: 400px
}

#map-container.fullwidth-home-map {
    height: 600px;
    margin-bottom: 0
}

.custom-zoom-in:before {
    content: "\f067"
}

.custom-zoom-out:before {
    content: "\f068"
}

.custom-zoom-in:before,
.custom-zoom-out:before {
    font-family: "FontAwesome";
    width: 100%;
    line-height: 35px;
    transition: -webkit-text-stroke .3s;
    -webkit-text-stroke: 1px #fff
}

.custom-zoom-in,
.custom-zoom-out {
    background-color: #fff;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    transition: color .3s ease 0s, background-color .3s ease 0;
    width: 34px
}

.leaflet-control-zoom {
    padding-top: 6px
}

#single_map_wrp {
    position: relative
}

#single_map {
    padding: 30px 0
}

.im-icon {
    display: block;
    height: 30px;
    left: -4px;
    padding: 8px;
    position: relative;
    top: -16px;
    z-index: 1
}

.im-icon img {
    max-width: 220% !important;
    display: block;
    margin-left: -15px;
    margin-top: -18px;
}

#listing_detail_banner {
    position: relative
}

.listing_info_wrap {
    padding: 40px 0
}

.view_map {
    background: #38ccff none repeat scroll 0 0;
    color: #fff;
    border-radius: 50%;
    bottom: 30px;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 50px;
    cursor: pointer;
    z-index: 1;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s
}

.view_map:hover {
    background: #111
}

.view_map a,
.view_map:hover a {
    color: #fff;
    display: block;
    position: relative;
    z-index: 22
}

.view_map:hover:after,
.view_map:hover:before {
    border-color: #111;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s
}

.face.front {
    display: none;
}
