/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

.margin-t {
    margin-top: 10px;
}
.gap-top-70{
    margin-top: 70px;
}
#capture-page{
    margin-bottom: 50px;
}
.perfect-btn a {
    margin-top: 50px;
    border-radius: 5px;
}
.side-time-part a {
    display: block;
    background: url(../img/02.png);
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 84px;
    background-size: cover;
    background-position: center;
    line-height: 84px;
        font-size: 22px;
}

.pic-post-btn button {
    width: 100%;
    height: 84px;
    background: url(../img/02.png);
    color: #fff;
    border: 0;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    font-size: 22px;
}
/*
=========----------------------------------=========
            2.Template Background Css     
=========----------------------------------=========
*/

.logo img {
    width: 135px;
}

.map-pointer {
    position: relative;
    z-index: 1;
    margin-top: 75px;
}

.air-pointer {
    position: absolute;
    left: 31%;
    top: -31px;
    width: 102px;
}

.rules {
    margin-top: -100px;
    margin-bottom: 36px;
}

.rules ul {
    display: inline-block;
    margin-left: 15px;
    margin-right: 81px;
}

.rules ul li {
    margin: 5px 0;
    list-style: square;
}


.sign button {
    padding: 8px 25px;
    color: #fff;
    background: #D50902;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}

/*
=========----------------------------------=========
            3.Checkin Page Css     
=========----------------------------------=========
*/

#personal {
    margin-bottom: 50px;
}

.tag-non {
    display: none;
}

.info-tbl input[type="text"],
.info-tbl input[type="number"] {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ED1C24;
}

.show-add input {
    width: 90%;
    height: 35px;
    /* background: transparent; */
    border: transparent;
    position: relative;
}

.show-add h5 {
    font-size: 14px;
    line-height: 35px;
}

a.next-btn {
    color: #fff;
    background: url(../img/02.png);
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 84px;
    line-height: 84px;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.thana-suggest input {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ED1C24;
}
.brand-color {
    font-weight: bold;
}
/*
=========----------------------------------=========
            4.Gallery Css     
=========----------------------------------=========
*/

#gallery {
    margin-bottom: 40px;
}

.users-pic {
    width: 100%;
    height: 160px;
    background: url(../img/g02.jpg);
    overflow: hidden;
    margin: 15px 0;
    background-size: cover;
    background-position: center;
}

.users-pic img {
    display: none;
}


/*
=========----------------------------------=========
            5.Template Buttons Css     
=========----------------------------------=========
*/

.g-mp {
    margin: 25px 0;
}

.g-mp iframe {
    width: 100%;
    height: 650px;
    border: 0;
}

/*
=========----------------------------------=========
            6.Tacke Picture Area Css     
=========----------------------------------=========
*/

div#results img {
    width: 100%;
    height: auto;
}

div#results h2 {
    text-align: center;
    background: #ddd;
    padding: 10px 0;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: #333;
}

form.capture-cam input {
    padding: 10px 25px;
    border: 0px;
    color: #fff;
    background: #D50902;
    width: 100%;
    border: none;
    cursor: pointer;
}

#my_camera {
    margin: 0 auto;
}

.capture-cam button {
    padding: 10px 40px;
    color: #fff;
    background: #D50902;
    width: 100%;
    border: none;
    cursor: pointer;
}

.capture-cam input[type="file"] {
    padding: 10px 40px;
    color: #fff;
    background: #D50902;
    width: 100%;
    border: none;
    cursor: pointer;
}

/*
=========----------------------------------=========
            7.Upload New Design Area Css     
=========----------------------------------=========
*/

.file-input-wrapper {
    position: relative;
    width: 100%;
    top: -84px;
    padding: 82px 0;
}

.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    padding-bottom: 49px;
    overflow: hidden;
    width: 100%;
        height: 100%;
}

.file-input-wrapper > .btn-file-input {
    display: inline-block;
}

.file-input-wrapper > .btn-file-input {
    width: 135px;
    height: 135px;
    font-size: 90px;
    border-radius: 50%;
    border: 2px solid #FF2F2F;
    color: #FF2F2F;
    opacity: 0.8;
}


.up-pic-show {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 300px;
    margin: 74px auto;
    margin-bottom: -214px;
    border: 2px dashed rgba(255, 0, 0, .8);
    overflow-y: scroll;
    overflow: hidden;
}

.side-time-part {
    margin-top: -60px !important;
}

.nxt-btn button {
    background: #D50902;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
}
.up-pic-show:after {
    position:  absolute;
    left:  0;
    top: 38px;
    width:  100%;
    font-size:  20px;
    height:  100%;
    content: "Upload Your Photo Here";
    color: #ddd;
}

/*
=========----------------------------------=========
            10.MAP02  Css     
=========----------------------------------=========
*/

.map {
    width: 100%;
    height: 650px;
}

.cluster-1 {
    background-image: url(../img/m1.png);
    line-height: 53px;
    width: 53px;
    height: 52px;
}

.cluster {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Arial, Helvetica';
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}


/*
=========----------------------------------=========
            10.CAMMERA PAGE Area Css     
=========----------------------------------=========
*/
#camera {
  width: 100%;
  height: 350px;
}
button#take_snapshots {
        margin-top: 50px;
}

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       Gallery Extra New CSS                      |
 -------------------=======================----------------
*/
.name-location {
    position: absolute;
        top: 10%;
    left: 20%;
    opacity: 0;
    transition: .3s;
}
.name-location span {
    display: block;
    color: #fff;
}
.grid__item:hover .name-location{
    opacity: 1;
    background: rgba(0,0,0,.5);
    padding: 15px;
}






/*
 -------------------=======================----------------
|                       Show uploade image CSS                      |
 -------------------=======================----------------
*/


.show-pic img {
    width:  100%;
}

.show-pic {
    overflow:  hidden;
}

.uploaded-info {margin-top:  25px;}

.gap-top{
    margin-top: 30px;
}


/*
 -------------------=======================----------------
|                       NEW Check In Page CSS                      |
 -------------------=======================----------------
*/




.loca-head {
    display: inline-block;
    background: #ED1C24;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}

.loca-head-txt {
    padding: 20px 0;
}

.add-loc-head h5 {
    margin:  0;
}

.loca-head-txt i.icofont {
    font-size:  20px;
}

.location-search input {
    width:  100%;
    height:  35px;
    padding:  0 35px;
}

.location-search {
    padding:  15px 0;
}

.nam-pass input {
    width:  100%;
    padding: 0 15px;
    height:  35px;
}

.nam-pass h5 {
    margin:  0;
    line-height:  35px;
}
.nam-pass {
    padding-bottom: 20px;
}

.check-btn img {
    width: 60px;
    padding:  0 10px;
}

.check-btn button {
    background:  #fff;
    border: 1px solid #ED1C24;
    padding:  10px 25px;
    font-size:  20px;
    font-weight:  bold;
    color:  #ED1C24;
}

.check-btn {
    text-align:  center;
    margin-top:  20px;
}

.location-search {
    position:  relative;
    z-index:  1;
}

.location-search:after {
    position:  absolute;
    left: 10px;
    top: 22px;
    width: 4%;
    height:  100%;
    content: "\ed60";
    font-family:  icofont;
    color: #888;
    font-size:  20px;
}

#add-location {
    padding: 70px 0;
}